:root {
    --verde: #f5f5f5;
    --verde-escuro: #14532D;
    --vermelho: #D62839;
    --branco: #FFFFFF;
    --texto: #222222;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--texto);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  

footer {
    background-color: var(--vermelho);
    color: var(--branco);
    text-align: center;
    padding: 14px;
    font-size: 0.9rem;
  }