{% extends "base.html" %}
{% load static %}

{% block links %}

  <link rel="stylesheet" href="produtos/lista.css">

{% endblock links %}

{% block main %}
    <h2>Catálogo de Itens</h2>

    <table class="tabela-listagem">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Categoria</th>
          <th>Quantidade</th>
          <th>Detalhes</th>
        </tr>
      </thead>
      <tbody>
        {% for item in produtos %}
          <tr>
            <td><a href="{% url 'produtos:detalhesProduto' item.id %}">{{ item.nome }}</a></td>
            <td>{{ item.categoria }}</td>
            <td>{{ item.quantidade }}</td>
            <td><a href="{% url 'produtos:detalhesProduto' item.id %}">Detalhes</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock main %}
